   body { padding: 0; margin: 0; font: 0.7em Arial, sans-serif; line-height: 1.5em; background: #F0F0F0; color: #454545; }
   a { color: #0E4D8B; background: inherit; }
   a:hover { color: #000; background: inherit;}
   a.title { color: #B41A1A; background: #FFF; }
   
   h1 { font: bold 2em Arial, Sans-Serif; letter-spacing: -1px; padding: 16px 0 0 8px; margin: 0; }
   h2 { margin: 0; padding: 0; font: normal 1.6em Arial, Sans-Serif; letter-spacing: -1px; }
   h1 a { color: #FFF; background: inherit; }
   h1 a, h2 a { text-decoration: none; }
   h1 a:hover, h2 a:hover { color: #BFE1ED; background: inherit; }
   h3 { font: 90% Arial, Sans-Serif; margin: 0 0 10px 0; padding: 0; color: #5f5f5f; background: #FFF; }
   p {	margin: 0 0 0px 0; line-height: 1.5em; }
   form { margin: 0; }
   input.search { width: 199px; border: none; background: #FFF url(input.gif); padding: 4px; color: #808080; }
   input.submit { height: 24px; font-weight: bold; width: 53px; border: none; background: #D96855 url(button.gif); padding: 3px; color: #FFF; }
   
   /* layout
      ------ */
   
      .content { 
        margin: 10px auto;
        width: 768px;
        background: #FFF url(big_middle.gif);
        color: #454545;
    }
   


   /* header */
   .header_top { background: #FEFEFE url(big_top.gif) no-repeat; color: #FFF; height: 15px; }
   .header { padding: 0px 10px 0 10px; }
   .header_bottom { clear: both; background: #FEFEFE url(big_bottom.gif) no-repeat; color: #FFF; height: 15px; }
   
   .sf_search {
       display:inline-block;
       background: rgb(250, 192, 31);
       border: 2px solid rgb(168, 48, 0) ;
       border-radius: 5em;
       padding: 15px 20px 15px 20px;
       width: 500px;
       margin-left: 1em;
   }
   
   .left {
       float: left;
       width: 595px;
       margin: 0 0 10px 0;
   }
   
       .box_top {
           /* background: #F0F0F0 url(leftbox_top.gif) no-repeat; */
           background-color: #F0F0F0;
           border-top-left-radius: 1em;
           border-top-right-radius: 1em;
           border-bottom: 2px solid white;
           color: #808080;
           height: 40px;
           width: 150px;
       }
       
       .box_top h2 {
           color: #808080;
           padding: 5px 0 0 5px;
       }
       
       .box {
           /* border-left: 3px solid #F0F0F0;
           border-right: 3px solid #F0F0F0; */
           width: 0px;
           color: #595959;
           background: #FFF;
       }

       .ul {
           list-style: none;
        }

        .li{
            background-color: gray;
            padding: 5px 10px;
            border-bottom: 1px solid white;
            width: 130px;
            height: 30px;
            font-size: small;
        }

        .li a{
            text-decoration: none;
            color: white;
        }
       
       .box_bottom {
           /* background: #FFF url(leftbox_bottom.gif) no-repeat; */
           color: #000;
           height: 13px;
           width: 160px;
           margin: 0 0 7px 0;
       }

       /*드롭다운 초성검색하기  */

       .dropbtn {
        background-color: gray;
        color: white;
        /* padding: 16px; */
        border: none;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        color: white;
    }
    
    .dropdown-list {
        display: none;
        position: absolute;
        background-color: gray;
        min-width: 80px;
        min-height: 1em;
        /* z-index: 1; */
        
    }
    
    .dropdown-list a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid white;
    }
    
    .li:hover{background-color: orange;}
    .dropdown-list a:hover{background-color: orange;}
    .dropdown:hover .dropdown-list {display: block;}
    .dropdown:hover .dropbtn {background-color: gray;}

           /* left and central column */
           .left_side { float: left; width: 159px; padding: 0px 5px 8px 8px; }
           .right_side { float: right; width: 405px; margin: 0 5px 0 0; text-align: justify; }
           
           .article { padding: 0 5px 0 0px; margin-bottom: 20px; }
           
       .grey_top { clear: both; width: 382px; background: #EDEDED url(grey_top.gif) no-repeat; color: #000; height: 5px; padding: 0; margin: 0px 0 0 6px; }
       .grey { width: 362px; margin: 0 0 0 6px; padding: 10px; background: #EDEDED url(grey_bottom.gif) no-repeat bottom left; color: #808080;	}
           
       .grey a {
           color: #C83C3C;
           background: inherit;
           font-weight: bold;
       }
       
       .grey a:hover {
           color: #000;
           background: #EDEDED;
       }
       
       .highlight {
           padding: 5px 3px 5px 3px;
           margin: 0 0 3px 0;
           border-bottom: 1px solid #ccc;
       }
       
           
   /* right side
      ---------- */
           
   .right { float: right; width: 170px; margin: 0 0 10px 0;}
           
   img { float: left; margin: 0 9px 3px 0; }
   
   /* footer
      ------ */
   
   .footer { 
       clear: both; 
       text-align: center;
       color: #808080;
       background: #f0f0f0;
       padding: 10px 0 5px 0;
       border-top: 1px solid #eee;
   }
   .footer p {	line-height: 2em; }
   .footer a {	color: #4F4F4F; background: #f0f0f0; border-bottom: 1px dotted #808080; text-decoration: none; } 

/* 초성찾기 */
   .word {
    background-color: lightgrey;
    border-radius: 10px;
    text-indent: 1em;
}

.recent_search{
    text-align: center;
}

.header span#login{
    position: relative;
    left: 480px;
}

.header button{
    position: relative;
    left: 400px;
}

.recent_search {
    position: relative
}

.meaningNexample p{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    background-color: lightgrey;
    border-radius: 10px;
    text-indent: 1em;
    margin: 5px;
}

.meaningNexample span {
    background-color: rgb(241, 221, 129);
}

.item{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    background-color: lightgrey;
    border-radius: 10px;
    text-indent: 1em;
    margin: 5px;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.item a { text-decoration: none; }
.item:hover { background-color: rgb(250, 192, 31);}

span#loginButton { position: absolute; right: 770px;
}

.li1{
    /* padding: 5px 10px; */
    border-bottom: 1px solid white;
    width: 130px;
    height: 30px;
    font-size: small;
}

.li1 img:hover {
    
}